{% extends 'layout/default.twig' %}

{% block isi %}
    <div class="alert alert-success">
        <div class="panel-body">Soal sudah diedit.</div>
    </div>
    <p><a href="/lalala" class="btn btn-default">Edit lagi &rarr;</a></p>
{% endblock %}